<div class='header'>
       <img src="assests/images/new.png">
       <div class='header li'>
                   <ul class='left-bar'>
                        <li><a href='#'>School book</a></li>
                        <li><a href='#'>Featured Book</a></li>
                        <li><a href='#'>Newly added</a></li>
                        <li><a href='#'>School book</a></li>
                   </ul>

                   <ul class='right-bar'>
                        <li><a href='#'>Cart</a></li>
                        <li><a href='#'>Account</a></li>

                    </ul>

         </div>

         <div class='slider'></div>

</div>
